<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
       <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
    <title>about</title>
  </head>
  <body>
    <div class="main-content">
          {{>header}}
          <p>This site was created by Temidayo, it uses data from MapBox.com and openweather.com</p>

    <img class="portrait" src="/img/img.jpg" alt="">
    </div>

    {{!-- how you put in partials in an hbs file
      tag it in with >partialName in curly braces.
     --}}
    {{>footer}}

  </body>
</html>
